<div id="content" class="user_home">
  <ul id="tasks">
    <li>
      <div class="task" id="new_task_post_it">
        <% remote_form_for(@task) do |f| %>
          <p>
            <%= f.text_area :description, :rows => "4", :cols => "17", :accesskey => "t",
              :onkeydown => "submitForm(this, event);" %>
          </p>
        <% end %>

        <script type="text/javascript">
          $('task_description').defaultValueActsAsHint();
      
          var task_description = new LiveValidation('task_description');

          task_description.add(Validate.Presence)
          task_description.add(Validate.Length, { maximum: 90 });
        </script>

        <script type="text/javascript">
          function stopEvent(event)
          {
            if (event.preventDefault)
            {
              event.preventDefault();
              event.stopPropagation();
            }
            else
            {
              event.returnValue = false;
              event.cancelBubble = true;
            }
          }

          function submitForm(obj, evt)
          {
            var e = evt || event;
            var key = e.keyCode;

            if(key == 13)
            {
              if(!e.shiftKey)
              {
                if(obj.form)
                  if(document.getElementById("task_description").value.length <= 84 && document.getElementById("task_description").value != "")
                {
  <%= remote_function(:url => tasks_path, :method => :post, :with => "Form.serialize(\"new_task\")") %>
            document.getElementById("task_description").value = "New Task";
            $('task_description').blur();
          }

          stopEvent(e);
        }
      }
    }
        </script>
      </div>
    </li>

    <% @tasks.each do |task| %>
      <%= render :partial => task %>
    <% end %>
  </ul>

  <% unless flash[:notice].blank? %>
    <%= javascript_tag visual_effect(:fade, "notice_message", :duration => 5) %>
  <% end %>

  <% @tasks.each do |task| %>
    <%= draggable_element "task_#{task.id}" %>
  <% end %>
</div>