<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <meta name="description" content="Sign up page of 2 Post It." />
    <meta name="keywords" content="task, list, post it, to do, done, sign up" />
    <meta name="author" content="Elomar Nascimento dos Santos" />

    <%= stylesheet_link_tag "2_post_it", :media => :all %>

    <%= javascript_include_tag :defaults, "livevalidation_prototype.compressed.js",
      "defaultvalueactsashint" %>

    <title>2 Post It - Sign Up</title>
  </head>
  <body>
    <p id="header">
      <%= image_tag "logo.png", :alt => "2 Post It", :width => "283", :height => "69" %>
    </p>

    <%= yield %>

    <p id="footer">
      Created by
      <%= link_to "Elomar Nascimento dos Santos", "http://www.elomarns.com/blog/", :title => "My Personal Blog" %>
      (<%= link_to "@elomarns", "http://www.twitter.com/elomarns", :title => "My Page on Twitter" %>)
    </p>
  </body>
</html>