<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <meta name="description" content="<%= yield :page_description %>" />
    <meta name="keywords" content="task, list, post it, to do, done, <%= yield :page_keyword %>" />
    <meta name="author" content="Elomar Nascimento dos Santos" />

    <%= stylesheet_link_tag "2_post_it", :media => :all %>

    <%= javascript_include_tag :defaults, "livevalidation_prototype.compressed.js",
      "defaultvalueactsashint" %>

    <title><%= yield :page_title %> - 2 Post It</title>
  </head>
  <body>
    <div id="header">
      <p>
        <%= link_to_website_home_or_user_home %>
      </p>

      <%= render :partial => "users/user_bar" -%>
    </div>

    <%= yield -%>

    <p id="footer">
      Created by
      <%= link_to "Elomar Nascimento dos Santos", "http://www.elomarns.com/blog/", :title => "My Personal Blog" %>
      (<%= link_to "@elomarns", "http://www.twitter.com/elomarns", :title => "My Page on Twitter" %>)
    </p>

    <%= yield :turn_footer_draggable %>

    <% if flash[:notice] %>
      <%= javascript_tag visual_effect(:fade, "notice_message", :duration => 5), :defer => "defer" %>
    <% end %>

    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>

    <script type="text/javascript">
      try
      {
        var pageTracker = _gat._getTracker("UA-11392611-1");
        pageTracker._trackPageview();
      }
      catch(err)
      {
      }
    </script>
  </body>
</html>